/* Colors */
:root {
--red-color-db1c1a: #DB1C1A;
--white-color-ffffff: #FFFFFF;
--blue-color-021427: #021427;
--yellow-color-F4B701:#F4B701;
--site-font-montserrat: 'Montserrat', sans-serif;;
}



.text-primary {
    color: var(--white-color-ffffff) !important;
    font-family: var(--site-font-montserrat) ;
    text-decoration: none;
    /* font-weight: bold;  */
}

.text-info {
    color: var(--yellow-color-F4B701) !important;
}

.bg-primary {
    background-color: var(--blue-color-021427) !important;
}

.bg-secondary {
    background-color: var(--red-color-db1c1a) !important;
}

.btn-primary {
    background-color: var(--red-color-db1c1a) !important;
    color: var(--white-color-ffffff) !important;
    border: none;
    text-decoration: none;
}

.display-1 {
    font-weight: bold; 
}



.image-without-gap {
    display: block;
    border: 1px solid black; 
    margin: 0; 
    padding: 0; 
}

















